<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<!-- config.xml은 mybatis를 mapper로 잡기 위해 필요한 파일임 -->


<!-- <mappers>에 mapper를 매번 등록해주어야 한다 -->

<configuration>
    <!-- settings / typeAliases / mappers : 순서 중요 -->
	<!-- null값 안나오게 셋팅 -->
  	<settings>
  		<setting name="mapUnderscoreToCamelCase" value="true"/>
  	</settings>
  	
  	<!-- 별칭 등록 -->
	<typeAliases>
		<typeAlias alias="Member" type="com.bsj.delight.member.model.dto.Member"/>
	</typeAliases>
  	

	<mappers> 
		<mapper resource="mybatis/mapper/mybatisMapper.xml"/>
	</mappers>
</configuration>