
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #f0e9e9;
	font-size: 12pt;
	font-weight: 300;
	color: #000000;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
}

p, ol, ul
{
	margin-top: 0;
}

.container
{
	overflow: hidden;
	margin: 0em auto;
	width: 1000px;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
{
	/* 이미지 경로 삽입 성공 */
	background: url(/resources/images/include/mainbanner.JPG) no-repeat center;
	background-size: cover;
	border-top: 9px solid rgb(197, 92, 92);;
}

#header
{
	position: relative;
	padding: 5em 0em;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo h1
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 1em 1em;
	background: rgb(197, 92, 92);;
	border-radius: 0px 0px 5px 5px;
}

#logo a
{
	text-decoration: none;
	color: rgb(255, 255, 255);
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
	position: absolute;
	top: 4em;
	right: 0;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
}

#menu li a, #menu li span
{
	padding: 1em 1.5em;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 0.90em;
	font-weight: 600;
	color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
	background: #CC0000;
	border-radius: 5px;
}


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
{
	padding: 10em 0em;
}

#banner span
{
	display: block;
	text-align: center;
	font-weight: 700;
	font-size: 2.5em;
	color: #FFF;
}


/*********************************************************************************/
/* body 2                                                                        */
/*********************************************************************************/
.visual{ 
    width: 1200px;
    height: 500px;
    margin: 0px auto;
}
.visual button { 
    position: absolute; 
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgba(0,0,0,.2);
    border:none;
}
.visual button::before {
    font-family: 'xeicon';
    color: white;
    font-size: 20px;
}
.visual button.slick-prev { left: 30px; font-size: 0; color: transparent; }
.visual button.slick-prev:before { content: "\e93b"; font-family: 'xeicon'; }

.visual button.slick-next { right: 30px; font-size: 0; color: transparent; }
.visual button.slick-next:before  { content: "\e93e"; font-family: 'xeicon'; }

/*********************************************************************************/
/* body 3                                                                        */
/*********************************************************************************/